@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/src/assets/fonts/ClashGrotesk-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('/src/assets/fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'GeneralSans', sans-serif;
  background-color: black;
}
